.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
}

.main {
    padding: 20px;
    position: relative;
    height: 100vh;
    display: flex;
    z-index: 1;
    /*Asegura que el contenido esté por encima del fondo*/
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/background_RoS.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;

    z-index: -1;
    /*Al revés. el background se pone debajo del contenido*/
}

.main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(248, 83, 83, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
}

.contenedores {
    padding: 20px;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.contenedor h2{
    display: flex;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-right: 30px;
}

.tarjeta_galeria{
    display: flex;
    flex-direction:column;
    justify-items: flex-start;
    border: 1px solid black;
    color:transparent;
    width: 266.66px;
    height: 266.66px;
    padding: 3px;
    margin: 5px;
    
}

