body{
    letter-spacing: 0.7px;
    width: 50%; 
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    font-family: 'Russo One', sans-serif;
}
.campo_basico {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 10px;
}

.campo_fila {
    display: flex;
    align-items: center;
    gap: 15px;
}

.campo_fila label {
    min-width: 100px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    padding: 7px;
    width: 250px;
    font-size: 16px;
    border: 1px solid darkred;
    border-radius: 6px;
    box-shadow: 0 0 3px black;
}

legend {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkred;
    text-shadow: rgb(255, 214, 214) 1px 3px;
}

.campo1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 10px;
}

.genero_fila {
    display: flex;
    align-items: center;
    gap: 10px;
}

.genero_fila input[type="radio"] {
    width: auto;
    margin: 0;
}
hr{
    color: darkred;
}

#enviar_formulario {
    margin-top: 28px;
    border-radius: 5px;
}
#enviar_formulario:hover {
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}